.h1-about {
    font-size: 32px;
}
.h1-about-flare {
    font-size: 32px;
    color: #c5efb4;
    margin-right: 10px;
    font-family: 'whitney-book';
}

.text-heading {
    margin-top: 100px;
    margin-left: 50px;
    display: flex;
    height: fit-content;
}

.text-container-about {
    margin-left: 100px;
}

.vline {
    content: "";
    width: 300px;
    height: 1px;
    margin: auto;
    margin-left: 20px;
    background-color: #c5efb4;
}

.skill-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(140px, 200px));
    padding: 0px;
    margin: 20px 0px 0px;
    overflow: hidden;
    list-style: none;
    color: #c5efb4;
}
.skill-list li {
    font-family: 'whitney-book';
    font-size: 16px;
    margin-left: 50px;
    line-height: 1.9rem;
}

.skill-list li::before {
    content: "▹";
    color: #ffe57b ;
    margin-right: 10px;

}

.p-about {
    margin-left: 50px;
    margin-top: 30px;
}

.img-about {
    height: 400px;
    width: 400px;
    border-radius: 4px;
}

.img-about:hover {
    filter: blur(3px);
    -webkit-filter: blur(3px);
    transition: .25s -webkit-filter ease-in;
}
.img-container-about {
    position: relative;
    height: 400px;
    width: 400px;
    margin: 165px 0 0 20px;
}
.img-container-about a {
    position: absolute;
    right: 115px;
    top: 70px;
    display: none;
}

.img-container-about:hover a {
    display: block;
}

.add-icn-about {
    display:inline-block;
    border:1px solid #CCC;
    background:rgb(71, 63, 63);
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    vertical-align: middle;
    width: fit-content;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
}

#insta {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
            /* Also define standard property for compatibility */
            background-clip: text;
    -webkit-text-fill-color: transparent;
    
    font-size: 100px; /* change this to change the size*/
    margin: auto;
    
}


