#header {
    position: absolute;
    width: 220px;
  }
#header .pro-sidebar {
  height: 100vh;
}
#header .closemenu {
  color: #000;
  position: absolute;
  right: 0;
  z-index: 9999;
  line-height: 20px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 22px;
  top: 55px;
  cursor: pointer;
  background-color: #c5efb4;
}
#header .pro-sidebar {
  width: 100%;
  min-width: 100%;
}
#header .pro-sidebar.collapsed {
  width: 80px;
  min-width: 80px;
}
#header .pro-sidebar-inner {
  background-color: white;
  box-shadow: 0.5px 0.866px 2px 0px rgba(0, 0, 0, 0.15);
}
#header .pro-sidebar-inner .pro-sidebar-layout {
  overflow-y: hidden;
}
#header .pro-sidebar-inner .pro-sidebar-layout .logotext p {
  font-size: 20px;
  padding: 0 10px;
  color: #000;
  font-weight: bold;
  
  
}
#header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item {
  color: #000;
  margin: 10px 0px;
  font-weight: bold;
}
#header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper {
  background-color: #E6E6FA;
  color: #000;
  border-radius: 3px;
}
#header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item .pro-icon-wrapper .pro-item-content {
  color: #000;
}
#header .pro-sidebar-inner .pro-sidebar-layout .active {
  background-color: #7E7F9A;

}
#header .logo {
  padding: 20px;
  
}
#header .pro-sidebar-content {
  background-color: #c5efb4;
  
}
#header .pro-sidebar-header {
  background-color: #c5efb4;
  border-bottom-color: #F3DE8A;
}
#header .pro-sidebar-footer {
  background-color: #c5efb4;
  border-top-color: #F3DE8A;
}
.email-wrapper {
  font-size: 14px;
  line-height: 1rem;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 5%;
  letter-spacing: 2px;
}
.email-link {
  display: inline-block;
  margin: 20px auto;
  padding: 10px;
  font-family: 'whitney-book';
  writing-mode: vertical-rl;
  color: #c5efb4;
  text-decoration: none;
  transition: all 300ms ease;
}
.line {
  content: "";
  width: 1px;
  height: 60px;
  margin: 0px auto;
  background-color: #c5efb4;
}
.email-link:hover {
  transform: translateY(-10px);
  color: #64ffda;
}

@media only screen and (max-width: 720px) {
  html {
    overflow: hidden;
  }
}
