.top-img {
    border-radius: 8px;
    width: 450px;
}
.main-content {
    padding-left: 240px;
    background-color: #7E7F9A;
    height: 100vh;
}
.img-container {
    padding-top: 100px;
}

h1 {
    font-family: 'whitney-medium';
    color: #F3DE8A;
    margin-top: 0px;
}

.flare-text {
    font-family: 'whitney-medium';
    color: #EB9486;

}

p {
    font-family: 'whitney-medium';
    color: #CAE7B9
}
