body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Fonts */
@font-face {
  font-family: 'whitney';
  src: url('./assets/fonts/whitney/whitney.ttf') format('truetype');
}

@font-face {
  font-family: 'whitney-medium';
  src: url('./assets/fonts/whitney/whitney-medium.otf') format('truetype');
}

@font-face {
  font-family: 'whitney-bold';
  src: url('./assets/fonts/whitney/whitney-bold.otf') format('truetype');
}

@font-face {
  font-family: 'whitney-semibold';
  src: url('./assets/fonts/whitney/whitney-semibold.otf') format('truetype');
}

@font-face {
  font-family: 'whitney-book';
  src: url('./assets/fonts/whitney/whitney-book.otf') format('truetype');
}
